html{
	background-color: #FFFCF9;
}

.spec-bot
{
    margin-bottom: 1rem !important;
}

/* FFFCF9
	FF6978
	340068
*/

body
{

   margin-top: -24px !important;
   /* background-color: rgb(77, 77, 77)!important; */
   /* background:
    repeating-linear-gradient(190deg, rgba(255, 0, 0, 0.5) 40px,
        rgba(255, 153, 0, 0.5) 80px, rgba(255, 255, 0, 0.5) 120px,
        rgba(0, 255, 0, 0.5) 160px, rgba(0, 0, 255, 0.5) 200px,
        rgba(75, 0, 130, 0.5) 240px, rgba(238, 130, 238, 0.5) 280px,
        rgba(255, 0, 0, 0.5) 300px),
    repeating-linear-gradient(-190deg, rgba(255, 0, 0, 0.5) 30px,
        rgba(255, 153, 0, 0.5) 60px, rgba(255, 255, 0, 0.5) 90px,
        rgba(0, 255, 0, 0.5) 120px, rgba(0, 0, 255, 0.5) 150px,
        rgba(75, 0, 130, 0.5) 180px, rgba(238, 130, 238, 0.5) 210px,
        rgba(255, 0, 0, 0.5) 230px),
    repeating-linear-gradient(23deg, red 50px, orange 100px,
        yellow 150px, green 200px, blue 250px,
        indigo 300px, violet 350px, red 370px); */

    /* background: conic-gradient(at -2% 100%, grey 5%, rgb(136, 1, 1) 30%); */
}


  li a{
    color : #FF6978;
}

li a:hover{
	text-decoration: none;
	color : #340068;
}



.dropdown{
	display: flex;
}

.head-table-connexion
{
    text-align: center;
    border-top: none !important;
}

.head-table-genre
{
    text-align: center;
    border-top: none !important;
}

.td-table
{
    text-align: center;
}

.text-red
{
    color: #FF6978;
}

.text-small
{
    font-size: 12px;
}

.a:hover{
    text-decoration: none;
}

.table-bordered thead th{
    background-color: transparent;
}

table{
    margin-left: 25%;
}

.color-nav-bar{
	background-color: #340068;
}

.btn-design{
	background-color: #FF6978;
	color : #FFFCF9;
	text-decoration: none;
	padding: 0.5rem;
	border-radius: 15px;
	border: solid #FF6978;
	transition: 1.2s

}

.btn-design:hover{
	text-decoration: none;
	color: #340068;
	background-color: #FFFCF9;
	transition: 1.2s;
	border-color: #340068;
	border: solid;
}

.navbar-positionnement{
	margin-top: 1rem;
}

.test{
	align-content: space-between;
}
/*TESTETSTSTSETSET */

